@model List<ECommerce.MVC.Models.Product>

<h2>Products</h2>

<a href="/Product/Create"
   style="background:green;
          color:white;
          padding:10px;
          text-decoration:none;">
    ➕ Add Product
</a>

<br /><br />

@if (Model != null && Model.Count > 0)
{
    foreach (var product in Model)
    {
        <div>

            <h3>@product.Name</h3>

        </div>
    }
}
else
{
    <p>No Products Found</p>
}