@model LibraryManagement.Models.Book

<h2>Book Details</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>

    <tr>
        <th>Title</th>
        <td>@Model.Title</td>
    </tr>

    <tr>
        <th>Author</th>
        <td>@Model.Author</td>
    </tr>

    <tr>
        <th>Year</th>
        <td>@Model.Year</td>
    </tr>
</table>