@model StudentManagement.Models.Product

<form method="post">
    <input asp-for="Name" placeholder="Name" />
    <input asp-for="Price" placeholder="Price" />
    <button type="submit">Add</button>
</form>