@model IEnumerable<HRMSystem.Models.Company>

<h2>Companies</h2>

<a asp-action="Create">Create Company</a> |
<a asp-controller="Employees" asp-action="Create">Add Employee</a>

<hr />

@foreach (var company in Model)
{
    <h3>@company.Name</h3>
    <p>@company.Address</p>

    <strong>Employees:</strong>

    <ul>
        @foreach (var emp in company.Employees)
        {
            <li>
                @emp.Name - @emp.Position - $@emp.Salary
            </li>
        }
    </ul>

    <hr />
}