@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form method="post" asp-action="Login">

    <div class="form-group">
        <label>Username:</label>
        <input type="text" name="username" class="form-control" />
    </div>

    <br />

    <div class="form-group">
        <label>Password:</label>
        <input type="password" name="password" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Login</button>
</form>