<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand"
           asp-controller="Home"
           asp-action="Index">StudentPortal</a>

        <div>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <a class="btn btn-warning me-2"
                   asp-controller="Home"
                   asp-action="Dashboard">Dashboard</a>

                <form asp-area="Identity"
                      asp-page="/Account/Logout"
                      method="post"
                      class="d-inline">
                    <button class="btn btn-danger">Logout</button>
                </form>
            }
            else
            {
                <a class="btn btn-success me-2"
                   asp-area="Identity"
                   asp-page="/Account/Register">Register</a>

                <a class="btn btn-primary"
                   asp-area="Identity"
                   asp-page="/Account/Login">Login</a>
            }
        </div>
    </div>
</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - StudentPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
