<h2>Create Course</h2>

<form method="post">

<label>Title</label>

<input
name="title"
class="form-control"
required />

<label>Description</label>

<textarea
name="description"
class="form-control">
</textarea>

<br />

<button
class="btn btn-primary"
type="submit">

Create

</button>

</form>