@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5 text-center">
    <h1 class="display-4">Student Portal</h1>
    <p class="lead">Login or Register to continue</p>

    <div class="mt-4">
        <a class="btn btn-success me-2"
           asp-area="Identity"
           asp-page="/Account/Register">Register</a>

        <a class="btn btn-primary me-2"
           asp-area="Identity"
           asp-page="/Account/Login">Login</a>

        <a class="btn btn-warning"
           asp-controller="Home"
           asp-action="Dashboard">Dashboard</a>
    </div>
</div>